
body{
font-family:Arial;
background:#0a0f14;
color:#e6edf3;
text-align:center;
}

.subtitle{
color:#8b949e;
}

.login-box{
width:320px;
margin:150px auto;
background:#111827;
padding:30px;
border-radius:10px;
box-shadow:0 0 25px rgba(0,255,170,0.2);
}

input{
width:90%;
padding:10px;
margin:10px;
border-radius:6px;
border:none;
}

button{
padding:10px 20px;
background:#00ffaa;
border:none;
cursor:pointer;
border-radius:6px;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
margin-top:20px;
}

.card{
background:#111827;
margin:10px;
padding:20px;
border-radius:8px;
width:220px;
box-shadow:0 0 15px rgba(0,255,170,0.15);
}

.progress-box{
width:400px;
margin:20px auto;
text-align:left;
}

.progress{
background:#222;
border-radius:6px;
overflow:hidden;
margin-bottom:15px;
}

.progress div{
height:14px;
width:0%;
background:#00ff9c;
}

.terminal{
width:70%;
margin:30px auto;
background:black;
color:#00ff9c;
padding:20px;
font-family:monospace;
text-align:left;
border-radius:8px;
min-height:200px;
}

canvas{
background:black;
border-radius:8px;
margin-top:10px;
}
